@media only screen and (max-width: 980px) {
    body{
        font-size: 48px;
    }
    .header{
        height: 15%;
        position: relative;
        width: 90%;
    }

    .header #icon{
        width: 150px;
    }
    .header .link{
        display: none;
    }

    .main{
        margin-top: 35%;
    }

    .main h1{
        font-size: 110px;
    }

    .main #desc{
        margin-top: -55px;
        font-size: 48px;
    }
    .buttons{
        flex-direction: column;
        align-items: center;
    }
    .buttons a{
        font-size: 54px;
        width: 550px;
    }
    .servers{
        flex-direction: column;
        align-items: center;
        margin-top: 55px;
        display: flex;
        justify-content: center;
    }
    
    .servers span{
        font-size: 48px;
        width: 450px;
    }

    .menu{
        display: inline-block;
        z-index: 2;
    }

    .mobile_menu{
        position: fixed;
        width: 100%;
        left: 0; top: 0;
        height: 200px;
        background: #2D374580;
        z-index: 1;
    }

    .close{
        margin-right: 55px;
        margin-top: 10%;
    }

    .footer{
        display: none;
    }

    .countdown{
        margin-top: 50%;
    }

    .countdown .units{
        margin-top: 15%;
    }

    .countdown .units .unit {
        width: 200px;
    }

    .countdown .units .unit h3{
        font-size: 112px;
    }
    
    .countdown .units .unit p{
        font-size: 56px;
        margin-top: -85px;
    }
}